.testh2 {
    color: #fff;
    background-color: #000;
    padding: 25px;
}
.testh2 {
    color: rgb(196, 36, 36);
    background-color: rgb(207, 204, 204);
    padding: 50px;
    text-align: center;
    list-style: none;
}